select option {
  white-space: normal;
  word-break: break-word;
}
 #selectBukuModal {
    max-width: 100% !important;
  }

  /* Menahan menu dropdown supaya tidak lebih lebar dari select */
  #selectBukuModal option {
    max-width: 100% !important;
    overflow-wrap: break-word;
    white-space: normal !important;
  }